<div class="row">
<div class="mt-5">
<div class="card">
  <article class="card-body">
  <a href="" routerLink="/signup" class="float-right btn btn-outline-primary">Sign up</a>
  <h4 class="card-title mb-4 mt-1">Sign in</h4>
     <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin(loginFormGroup)">
      <div class="form-group">
        <label>Your email</label>
          <input name="emailAddress" [formControl]="loginFormGroup.controls['emailAddress']" class="form-control" placeholder="Email" type="email">
      </div> <!-- form-group// -->
      <div class="form-group">
        <a class="float-right" href="#">Forgot?</a>
        <label>Your password</label>
          <input class="form-control" name="password" [formControl]="loginFormGroup.controls['password']"  placeholder="******" type="password">
      </div> <!-- form-group// -->
      <div class="form-group">
      <div class="checkbox">
        <label> <input type="checkbox"> Save password </label>
      </div> <!-- checkbox .// -->
      </div> <!-- form-group// -->
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Login  </button>
      </div> <!-- form-group// -->
  </form>
  </article>
  </div> <!-- card.// -->
</div>
</div>
