<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <button mat-button color="primary" (click)="observableCreate()">Create / Observable</button>
    <button mat-button color="primary" (click)="fromClick()">From</button>
    <button mat-button color="primary" (click)="ofClick()">of</button>
    <button mat-button color="primary" (click)="intervalClick()">interval</button>
    <button mat-button color="primary" (click)="timmerClick()">timmer</button>
    <button mat-button color="primary" (click)="uncubsClick()">Unsubscribe</button>
    <button mat-button color="primary" (click)="fromEventClick()">Form Event</button>
</div> 